@font-face{
  font-family: 'OpenSans';
  src: url("./assets/fonts/OpenSans-Regular.ttf");
  font-weight: 100;
}

@font-face{
  font-family: 'OpenSansBold';
  src: url("./assets/fonts/OpenSans-Bold.ttf");
  font-weight: 300;
}
:visited{
  color:#694a23;
  font-weight: bold;
}
body{
  min-height: 100vh;
  padding: 0px;
  display: flex;
  margin: 0px;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  font-family: 'OpenSans', sans-serif;
  background-color: rgb(84, 84, 84);
  background-size: 100%;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px solid red;
}
main{
  margin-left: 50px;
  margin-top: 25px;
}
.name{
  display: flexbox;
  flex-wrap: wrap;
}
.nav{
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-family: 'OpenSansBold', serif;
}
.nav-link{
  color: #000000;
  padding: 0 8px;
  line-height: 50px;
  transition: .3s;
  font-family: 'OpenSansBold', serif;
}
.container-profile{
  display: flex;
  align-items: flex-start;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.photo{
  display: flexbox;
  height: 500px;
}

html {
  scroll-behavior: smooth; 
}
.section-item a{
  color: #ffffff;
  text-decoration: none;  
  transition: color 0.5s;
  }
.section-item a:hover{
  color: #ff00bf;
}
.main-container{
  display: flex; 
  flex-wrap: wrap;
}
.section{
  width: 50%;
}
.section{
  display: flexbox;
  color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.regular-text{
  font-size: 25px;
  font-weight: 250;
  font-family: 'OpenSans', sans-serif;
}
.regular-text-code{
  display: flexbox;
  background-color: #00e1ff;
  border-radius: 20px;
  width: fit-content;
  font-size: 25px;
  font-weight: 250;
  color: rgb(16, 44, 80);
  font-family: 'OpenSans', sans-serif;
  margin: 15px;
  padding: 25px;
}
.section-title{
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #00ffee;
  font-family: 'OpenSansBold', sans-serif;
}
.name{
  font-size: 60px;
  font-weight: 250;
  color: rgb(16, 44, 80);
  font-family: 'OpenSansBold', sans-serif;
}
.foot-container{
  display: flex;
  margin-top: 50px;
  padding-top: 10px;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
}
.footer-text{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 250;
  color: rgb(16, 44, 80);
  font-family: 'OpenSans', sans-serif;
  height: 45px;
}
.school-logo{
  height: 70px;
  padding: 5px;
}