*{
    margin: 0;
    padding: 0;
}
body font-family: 'OpenSans', sans-serif;{
  margin: 10px;
  padding: 5px;
}
main{
  margin-left: 50px;
  margin-top: 25px;
}

@font-face {
    font-family: 'OpenSans';
    src: url("./assets/fonts/OpenSans-Regular.ttf");
    font-weight: 100;
  }
@font-face {
    font-family: 'OpenSansBold';
    src: url("./assets/fonts/OpenSans-Bold.ttf");
    font-weight: 300;
}
* {
    box-sizing: border-box;
    border: 0px solid red;
  }
.name{
  display: flexbox;
  flex-wrap: wrap;

}
.nav{
  background-color: aqua;
  padding: 0;
  margin: 0;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: 'OpenSansBold', serif;
}
.nav-link {
    color: #0da399;
    padding: 0 8px;
    line-height: 50px;
    transition: .3s;
    font-family: 'OpenSansBold', serif;

.container-profile{
  display: flex;
  align-items: flex-start;
 
}

.container {
    max-width: 1440px;
    margin: 5px auto;
  }

.photo{
  display: flexbox;
  margin: 5%;
}
}
html {
    scroll-behavior: smooth; 
}
.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }

  
.section {
    width: 100%;
}


.regular-text{
    font-size: 25px;
    font-weight: 250;
    color: rgb(16, 44, 80);
    font-family: 'OpenSans', sans-serif;
}

.regular-text-code{
  display: flexbox;
  background-color: #c3e0c7;
  width: fit-content;
  font-size: 25px;
    font-weight: 250;
    color: rgb(16, 44, 80);
    font-family: 'OpenSans', sans-serif;
    margin: 15px;

}

.section-title {
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0da399;
    font-family: 'OpenSansBold', sans-serif;
  }
.name{
    font-size: 60px;
    font-weight: 250;
    color: rgb(16, 44, 80);
    font-family: 'OpenSansBold', sans-serif;
}
.school-logo{
  height: 50px;
  margin-top: 50px;
  margin-left: 50px;
}
.foot-container{
  display: flexbox;
}